.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-dark, #181825);
  z-index: 999;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  opacity:0.3;

  @media (max-width: 1024px) {
    padding: 1rem;
  }


  &__left {
    display: none;
    @media (min-width: 768px) {
      display: block;
      width: 25%;
    }
  }

  &__logo {
    flex: 1;
    text-align: center;
    @media (max-width: 768px) {
      text-align: left;
    }

    .nav-logo {
      width: 200px;
      max-width: 100%;
      @media (max-width: 1024px) {
        padding: 0;
        margin: 0;
      }
    }
  }

  &__burger {
    flex: 1;
    text-align: right;


    &-button {
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      background: none;
      border: none;
      color: #00ADB5;
      cursor: pointer;
      padding: 0;
      text-decoration: none;
      transition: color 0.3s ease;

      &.fadeIn {
        animation: fadeIn 1s ease forwards;
      }

      &.shimmer:hover {
        color: var(--color-highlight, #ffffff);
      }

      i {
        font-size: 1.6rem;
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        color:inherit;
        font-weight: 400;
      }
      &:hover {
        color: #fff !important;
      }
    }

    &-text {
      display: none;
      color: inherit;

      @media (min-width: 768px) {
        display: inline;
        font-family: 'Montserrat', sans-serif;
        font-size: 26px;
        font-weight: 400;
        cursor: pointer;
        transition: color 0.3s ease;
      }
    }

  }
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

