@use "components/Header";
@use "./variables" as*;

/* global variables if needed */
:root {
  --primary-color: #4b31b4;
  --secondary-color: #e1dfff;
  --tertiary-color: #bfbeff;
  --grey-color: #f3f3f3;
  --white-color: #ffffff;
  --salomie-color: #fedf8e;
  --midnight-color: #181825;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: var(--white-color);
  color: var(--midnight-color);
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

.footer {
  background: var(--midnight-color);
  color: var(--white-color);
  text-align: center;
  padding: 2rem;
}

@font-face {
  font-family: 'jkiticon';
  src: url('/fonts/jkiticon.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

[class*="jki jki-"] {
  font-family: 'jkiticon' !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jki-burger-menu-light::before {
  content: "ïª¸"; /* Unicode U+FAB8 */
  left: 50%;
  transform: translateX(-50%);
}
